body {
    background-color: lightgrey;
}
.block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.block1 {
    width: 25%;
    margin-bottom: 36px;
    border-bottom: 2px solid cornflowerblue;
    text-align: justify;
    position: relative;
}


.border {
    border: 2px solid antiquewhite;
    border-radius: 5%;
    padding: 10px;
    background-color: lightseagreen;
}

.btn {
    margin-left: 93px;
    position: relative;
}

.title {
    text-align: center;
}
.block2 {
    border: 1px solid gold;
    border-radius: 10%;
    background-color: mediumseagreen;
    margin-bottom: 5px;
    margin-top: 5px;
}
