body {
    background-color: lightgrey;
}
.block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.block1 {
    width: 16%;
    margin-bottom: 36px;
    border-bottom: 2px solid cornflowerblue;
    text-align: justify;
    position: relative;
    height: 190px;
}


.border {
    border: 2px solid antiquewhite;
    border-radius: 5%;
    padding: 10px;
    background-color: lightseagreen;
}

.btn {
    position: absolute;
    top: 125px;
}


.btn1 {
    position: absolute;
    top: 100px;
}
